@model Pojisteni.Models.Insured

@{
    ViewData["Title"] = "Smazat pojištěnce";
}
<h4>@ViewData["Title"] @Html.DisplayFor(model => model.LastNameAndName) ?</h4>
<hr />
<div class="row mb-2">
    <div class="col-sm-3 col-md-3 col-xl-2 font-bold">
        @Html.DisplayNameFor(model => model.LastNameAndName)
    </div>
    <div class="col">
        @Html.DisplayFor(model => model.LastNameAndName)
    </div>
</div>

<div class="row mb-2">
    <div class="col-sm-3 col-md-3 col-xl-2 font-bold">
        @Html.DisplayNameFor(model => model.IdentityNumber)
    </div>
    <div class="col">
        @Html.DisplayFor(model => model.IdentityNumber)
    </div>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="ID" />
    <input type="submit" value="ANO" class="btn btn-danger" />
    <a href="javascript:history.back()" class="btn btn-warning">NE</a>
</form>
