@model Pojisteni.Models.Event

@{
    ViewData["Title"] = "Detail události";
}
<div class="row mb-2">
    <div class="col-sm-3 col-md-3 col-xl-2 font-bold">
        @Html.DisplayNameFor(model => model.InsuranceInsured.Insured.LastNameAndName)
    </div>
    <div class="col">
        @Html.DisplayFor(model => model.InsuranceInsured.Insured.LastNameAndName)
    </div>
</div>

<div class="row mb-2">
    <div class="col-sm-3 col-md-3 col-xl-2 font-bold">
        @Html.DisplayNameFor(model => model.InsuranceInsured.Insurance.Name)
    </div>
    <div class="col">
        @Html.DisplayFor(model => model.InsuranceInsured.Insurance.Name)
    </div>
</div>

<div class="row mb-2">
    <div class="col-sm-3 col-md-3 col-xl-2 font-bold">
        @Html.DisplayNameFor(model => model.DateTime)
    </div>
    <div class="col">
        @Model.DateTime.ToShortDateString()
    </div>
</div>

<div class="row mb-2">
    <div class="col-sm-3 col-md-3 col-xl-2 font-bold">
        @Html.DisplayNameFor(model => model.InsertDateTime)
    </div>
    <div class="col">
        @Model.InsertDateTime.ToShortDateString()
    </div>
</div>

<div class="row mb-2">
    <div class="col-sm-3 col-md-3 col-xl-2 font-bold">
        @Html.DisplayNameFor(model => model.InsuranceInsured.Amount)
    </div>
    <div class="col">
        @Html.DisplayFor(model => model.InsuranceInsured.Amount)
    </div>
</div>
<div class="row mb-2">
    <div class="col-sm-3 col-md-3 col-xl-2 font-bold">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="col">
        @Html.DisplayFor(model => model.Description)
    </div>
</div>
<div class="row mb-2">
    <div class="col-sm-3 col-md-3 col-xl-2 font-bold">
        @Html.DisplayNameFor(model => model.Settled)
    </div>
    <div class="col">
        @if (Model.Settled)
        {
            <span class="badge bg-success">ANO</span>
        }
        else
        {
            <span class="badge bg-danger">NE</span>
        }
    </div>
</div>
<div>
    @if(User.IsInRole("admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-warning">Editovat</a>
        @if (!Model.Settled)
        {
            <a asp-action="SetDone" asp-route-id="@Model.ID" class="btn btn-success">Označit jako vyřízené</a>
        }
        <a asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-danger">Odstranit</a>
    }
</div>
